<template>
	<div class="root">
		<ZOSCHeader heading="FAQ" />

		<main>
			<h3>How it works?</h3>

			<p>
				You
				<a
					href="?/new-rfc"
					@click.prevent="$router.navigate('new-rfc')"
				>make a new <b>draft</b>.</a>
				The community votes for it (rejects or accepts it). You handle
				their comments, and do the necessary changes. After each change,
				you release an <b>update</b> to your RFC. When this happens, all
				votes (votes, not comments) are removed &mdash; so you can't
				fool the system. <i>Old RFCs (last change made 6 months ago) are
				cleaned up.</i>
			</p>

			<p>
				When the community accepts your RFC, it becomes a <b>Proposed
				Standard</b>. Then, when the moderators finalize the RFC (by
				checking that the standard applies to the ZOSC rules), it
				becomes a <b>Finalized Standard</b>. From now on, your RFC will
				always be online.
			</p>

			<h3>Why is my vote not counted?</h3>

			<p>
				On ZOSC, we have 3 user groups:
			</p>

			<ul>
				<li>
					<b>Unverified users</b>. This will be your default role
					after you join the network. This group can only vote (the
					votes are listed publically, but they aren't counted in the
					total score), commenting is disabled is well.
				</li>
				<li>
					<b>Verified users</b>. If you want to join the discussion,
					ask the moderators to verify you. This is done to prevent
					spam. This group can comment, and votes are handled as
					&plusmn;1.
				</li>
				<li>
					<b>Moderators</b>. This group can verify users and finalize
					RFCs.
				</li>
			</ul>

			<h3>How do I become a moderator?</h3>

			<p>
				Every term (3 months) the moderators are elected by the
				community. The voting page will be posted on the home page, on
				ZeroTalk and ZeroMe. The election lasts for 1 week. You must be
				a verified user to vote.
			</p>
		</main>
	</div>
</template>

<style lang="sass" scoped>
	main
		h3
			font-size: 1.5em
			margin-top: 2em

			&:first-child
				margin-top: 0
</style>

<script type="text/javascript">
	export default {
		name: "faq"
	};
</script>