<template>
	<div class="root">
		<header @click="$router.navigate('')">
			<h1>ZOSC</h1>
			<h2>ZeroNet Open Standards Community</h2>
		</header>
		<ZOSCNavigation />

		<main>
			<p>
				ZOSC is an archive of community-generated RFC's (Request for
				Comments), mainly focused on ZeroNet.
			</p>

			<h3>Want to post a new RFC?</h3>

			<p>
				<a
					href="?/new-rfc"
					@click.prevent="$router.navigate('new-rfc')"
				>There you go.</a>
			</p>
		</main>
	</div>
</template>

<style lang="sass" scoped>
	header
		background-color: #EC407A
		padding: 4em 1em 3em
		cursor: pointer

		h1, h2
			text-align: center
			color: #FFFFFF
			margin: 0

		h1
			font-size: 6em
		h2
			font-size: 1.5em
			font-weight: normal
			color: rgba(255, 255, 255, 0.7)

	main
		h3
			font-size: 1.5em
			margin-top: 2em
</style>

<script type="text/javascript">
	export default {
		name: "home"
	};
</script>