html, body
	height: 100%
	margin: 0
	padding: 0
	background-color: #FFF

	font-family: Verdana, Arial, sans-serif
	font-size: 16px
	box-sizing: border-box

*
	font-family: inherit
	font-size: inherit
	box-sizing: inherit

main
	width: 800px
	margin: 0 auto
	padding: 1em

a
	color: #EC407A