<template>
	<div class="root">
		<header @click="$router.navigate('')">
			<div class="header-content">
				<h1>ZOSC</h1>
				<h2>ZeroNet Open Standards Community</h2>
			</div>
		</header>

		<ZOSCNavigation />

		<main>
			<h1>{{heading}}</h1>
		</main>
	</div>
</template>

<style lang="sass" scoped>
	header
		background-color: #EC407A
		cursor: pointer

		.header-content
			width: 800px
			margin: 0 auto
			padding: 1.5em 1em
			height: 5em

			h1, h2
				text-align: center
				color: #FFFFFF
				margin: 0
				vertical-align: middle

			h1
				float: left
				font-size: 2em
				margin-top: -0.13em
			h2
				float: right
				font-size: 1.5em
				font-weight: normal
				color: rgba(255, 255, 255, 0.7)

	main
		padding: 0 1em

		h1
			color: #EC407A
			font-size: 2em
			text-align: center
			padding-bottom: 0.5em
			border-bottom: 1px solid #EC407A
			margin-bottom: 0.5em
</style>

<script type="text/javascript">
	export default {
		name: "ZOSCHeader",
		props: ["heading"]
	};
</script>