<template>
	<div class="root">
		<header>
			<div class="header-content">
				<a
					v-for="link in links"
					:href="`?/${link.link}`"
					@click.prevent="$router.navigate(link.link)"
				>
					{{link.title}}
				</a>
			</div>
		</header>
	</div>
</template>

<style lang="sass" scoped>
	header
		background-color: #C2185B

		.header-content
			width: 800px
			margin: 0 auto
			padding: 1.5em 1em

			a
				font-size: 1.1em
				color: rgba(255, 255, 255, 0.8)
				text-decoration: none
				margin-right: 1em

				&:hover
					color: rgba(255, 255, 255, 1)
</style>

<script type="text/javascript">
	export default {
		name: "ZOSCNavigation",
		data() {
			return {
				links: [
					{link: "faq", title: "FAQ"},
					{link: "new-rfc", title: "New RFC"}
				]
			};
		}
	};
</script>